Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.git
.gitignore
.linterstagedrc.json
jest.config.js
.husky
dist
.vscode
test

conf/.env
conf/.env.keys
conf/.example.secrets.env
conf/.example.env